html {
  transform: scale(1.6);
  transform-origin: top left;
  width: 62.5%;
  height: 62.5%;
  overflow: auto;
}

@media (max-width: 768px) {
  html {
    transform: none;
    width: auto;
    height: auto;
  }
}

.App {
  text-align: center;
  margin: 10px;
  background-color: #e7f0e7;
  padding: 0px 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

#page-header {
  background-color: rgb(175, 197, 197);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semester-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.semester-input {
  margin: 10px;
  display: flex;
}

.semester-input input {
  margin-right: 10px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-semester-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.add-semester-btn:hover {
  background-color: #0056b3;
}

.cgpa {
  position: sticky;
  top: 20px;
  right: 80px;
  font-size: 20px;
  float: right;
  background-color: #333c4f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}


@media (max-width: 1150px) {
.cgpa{
  right: 0px;
  top: 0px;
  padding: 0.009px;
  position: relative;
  float: none;
  align-items: center;
}
.container{
  position: relative;
  margin: 30px 5px 5px 5px;
}

.semester-input input{
  margin: 0px 0px 15px 4px;
}
}



.cgpa-number {
  color: #03ec16;
}

h1 {
  margin-bottom: 20px;
}

.delete {
  background-color: red;
}

.delete:hover {
  background-color: rgb(138, 104, 104);
}
